.W   { display: none; }
.L   { display: none; }
.M   { display: none; }
.WL  { display: none; }
.WM  { display: none; }
.LM  { display: none; }
.WLM { }

.isM {  }
.isW {  }
.isL {  }
.isC { font-weight:bold; }
.isA {  }
